.container {
  background-color: #f3f4f2;
  height: 178px;
  width: 760px;
}
.header {
  background-color: #f7785d;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.content {
  min-height: 100px;
}
.select {
  width: 33%;
  border: none;
  background-color: transparent;
}

.searchInput {
  width: 33%;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #8e95a0;
  outline: none;
}

@media (max-width: 767.98px) {
  .header {
    padding-left: 10px;
  }
  .container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
  .container {
    min-height: 250px;
  }
  .select {
    width: 100%;
    margin-bottom: 20px;
  }
  .searchInput {
    width: 100%;
  }
}
